@mixin tekstfelt {
    width: 670px;
        font-size: 18px;
        line-height: 32px;

        font-family: Montserrat, Verdana, Arial, sans-serif;
        margin: 0 auto;
        color: rgb(41, 30, 91);

}